*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
button,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:inherit;
}

li {
    list-style: none;
}

:root {
  --background-color: rgb(223 235 186);
  --active-color: teal;
  --text-color-title: bisque;
  --text-color: white;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.container {
    max-width: 1180px;
    width: 100%;
    position: relative;
    /*  */
    background-color: var(--background-color);
}

.nav{
    /* position: fixed; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;

    padding: 15px;
}

.nav a {
    min-width: 110px;

    padding: 5px;
    text-align: center;

    font-size: 16px;
    font-weight: 400;

    transition: all ease-in-out .4s;
}

@media (min-width: 485px) {
    .nav a {
        padding: 10px;

        font-size: 24px;
        font-weight: 600;
}}

.nav a:hover,
.nav a:focus{
    color: var(--text-color);
    border-color: var(--text-color);
    background-color: rgb(0 0 0 / 10%);
    border-radius: 8px;
}

.active {
    color: var(--active-color);
    border-bottom: 2px solid var(--active-color);
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 80vh;
    background-color: var(--background-color);
    background-image:linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.8)),
     url(../images/element5-digital-OyCl7Y4y0Bk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.title{
    text-align: center;

    font-size: 2rem;
    color:var(--text-color-title);
}

@media (min-width: 485px) {
    .title{
        font-size: 3rem;
    }
}

@media (min-width: 800px) {
    .title{
        font-size: 4rem;
    }
}

.description{
    padding-left: 50px;
    padding-right: 50px;

    text-align: center;

    font-size: 24px;
    line-height: 32px;
    color: var(--text-color);
}

@media (min-width: 485px) {
    .description{
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.hero__button {
    padding: 10px;

    border-radius: 10px;
    border: 2px solid white;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    transition: all ease .3s;
}

@media (min-width: 485px) {
    .hero__button {
        padding: 20px;

        font-size: 2rem;
    }
}

.hero__button:hover,
.hero__button:focus{
    color: black;
    background-color: var(--background-color);
}

.footer{
    min-height: 80px;
    height: 100%;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
}

.socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.socials a {
    padding: 5px;
    transition: all ease-in-out .4s;
}

.socials a:hover,
.socials a:focus{
    color: var(--text-color);
}

.link{
    width: 40px;
    height: 40px;

    padding: 5px;
    border-color: aquamarine;
    transition: all ease .4s;
}

.link:hover {
    transform: scale(1.2);
}

.link__img{
    width: 100%;
}

 /* --------courses page------------ */

 .courses__container {
    --d-width: 1180px;
    max-width: var(--d-width);
    min-height: 80vh;
    width: 100%;

    padding: 30px;

    background-color: #ECEFF7;
    background-image:linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.8)),
     url(../images/element5-digital-OyCl7Y4y0Bk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.courses__container article:first-child {
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    background-color: transparent;
    padding: 0;
    margin-bottom: 50px;
}

.courses__title {
    text-align: center;

    color: aliceblue;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    margin-top: 20px;
}

.buttons__list{
    min-height: 85px;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.buttons__item{
    min-width: 75px;
    height: 44px;

    padding: 10px;

    background: #FFFFFF;
    border-radius: 8px;
    border: none;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.buttons__item:hover,
.buttons__item:focus         {
    background-color: var(--background-color);
    /* color: antiquewhite; */
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) .2s;
}

.collection__list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
     gap: 50px;
}

.collection__item{
    position: relative;
    width: 340px;
    min-height: 280px;

    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.collection__item:hover .overlay {
  transform: translatex(0);
}

.box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: #bdbdbd;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color-title);

  padding: 20px;
  font-size: 20px;
  color: #fff;

  transform: translatey(100%);
  transition: transform ease 1s;
}

.box:hover .overlay {
  transform: translatex(0);
}

.collection__item .img{
    width: 100%;
    height: 240px;
    display: block;
}

.collection__item .title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
    padding: 20px;
}

.difficulty {
    display: block;
    text-align: center;

    padding: 10px;

    color: aquamarine;
    font-size: 1.5rem;
    /* text-decoration: underline; */
}
.form {
    text-align: center;
    padding: 20px;
}
.form input{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    min-width: 200px;
    max-width: 400px;
    width: 100%;
}

